{
  "root": true,
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "plugins": [
    "babel"
  ],
  "rules": {
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": true,
      "optionalDependencies": false
    }],
    "generator-star-spacing": 0,
    "babel/generator-star-spacing": 1,
    "arrow-parens": 0
  }
}
